.custom-input-error{
    position:relative;
    font-size: 12px;
    text-align: left;
    margin-top:-6px;
    color:red;
  }

  .custom-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
  }
  
  .custom-modal .modal-container {
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 50px;
    padding-top: 70px;
    margin: auto;
    top: 15vh;
    width: 50%;
  }
  
  .custom-modal .modal-container .close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }
  
  .custom-modal .modal-container .data {
    position: relative;
    font-size: 14px;
    margin-bottom: 16px;
  }
  
  .custom-modal .modal-container .data span {
    font-weight: 600;
  }
  
  .custom-modal .modal-container .actions {
    position: relative;
  }
  
  .custom-modal .modal-container .actions:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .custom-modal .modal-container .actions a {
    display: block;
    float: right;
  }

  .fonts {
    font-size: 2em;
     color: black;
     position: absolute;
     top: 24px;
     right: 24px;
     cursor: pointer;;
  }

  .add-button {
    font-size: 2em;  
  }
  
  .album-list {
    width: 310px;
    height: 65vh;
    border-right: 1px solid #dbdbdb;
    position: absolute;
    margin-top:-25px;
    margin-left:-10px;
    display:block;
    list-style:none;
 
  }

  .album-list li {
    font-size: 1.3em;
    padding-top: 20px;
    font-weight:350;
    line-height: 2em;
    cursor: pointer; 
}

.list4 { 
  width:320px; 
  font-family:Georgia, Times, serif; 
  font-size:15px; 
}
.list4 ul { 
  list-style: none; 
  overflow: auto;
  max-height: 400px;
}
.list4 ul li {
  display:block;
  text-decoration:none; 
  color:#000000;
  background-color:#FFFFFF;
  line-height:30px;
  border-bottom-style:solid; 
  border-bottom-width:1px; 
  border-bottom-color:#CCCCCC;
  padding-left:10px; 
  padding-top:20px;
  cursor:pointer;
 }




  